
.vs/vinyl/v15/.suo
*.db
*.opendb
*.ipch
*.obj
*.idb
*.pdb
*.tlog
*.pch
*.log
*.ipdb
*.iobj
*.exe
*.ilk
*.user
*.filters
*.vcxproj
*.sln
examples/Bakemonogatari.png
examples/Danna ga Nani wo Itteiru ka Wakaranai Ken.png
examples/Euphoria.png
examples/Devilman Crybaby.png
examples/Non Non Biyori.png
examples/Non Non Biyori Repeat.png
examples/No Game No Life.png
examples/Nisekoi.png
examples/Nekopara.png
examples/Kyoukai no Kanata.png
examples/Ishuzoku Reviewers.png
examples/Houseki no Kuni.png
